{% extends "base.html.twig" %}

{% block title %}
    Série #{{ category.name }}
{% endblock %}

{% block body %}


    {% for program in programs %}
        <div class="border p-5 m-1 w-50 mx-auto">
            <div class="d-flex flex-column">
                <h2 class="text-center">{{ program.title }}</h2>

                <p class="text-justify">{{ program.summary }}</p>

                {# Lien vers la fiche de la série #}
                <a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-primary">Voir la fiche</a>
            </div>
        </div>
    {% else %}
        <p>Aucune série trouvée</p>
    {% endfor %}

{% endblock %}